.footer-info {
    
    &__title {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    &__item + &__item {
        margin-top: 10px;
    }
    &__link,
    &__phone,
    &__mail {
        transition: color .5s ease;
        &:hover,
        &:focus,
        &:active {
            color: $blue;
        }
    }
    &__address {
        font-style: normal;
        & > * + * {
            margin-top: 0.625rem;
        }
    }
    &__phone,
    &__mail {
        display: block;
    }
}