.nav {
    background-color: $blue;
    line-height: 1.3;
    color: #fff;
    padding: 1.5625rem 2.5rem 1.5625rem 0.625rem;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    &__list {
        display: flex;
    }
    &__item:not(:last-child) {
        margin-right: 1.875rem;
    }
    &__link {
        padding: 0.625rem 1.875rem;
        transition: background-color .5s ease, color .5s ease;
        &[href]:hover,
        &[href]:focus,
        &[href]:active {
            color: $yellow;
        }
        &--active {
            color: $yellow;
        }
    }
}

  