.top-filter {
    background-color: $blue;
    padding: 0.9375rem 0.625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Kurale', serif;
    font-size: 1.125rem;
    color: #fff;
}